html {
    margin: 0;
    padding: 0;
    background-color: #2f3437;
}

textarea {
    resize: none;
    overflow: auto;
  }

/* nav bar */
.brand-name {
    font-size: 2.3rem;
    line-height: 50px;
    margin:0 0 1.68rem 0;
}

.brand-name-game {
    letter-spacing: 1.2px;
    color: #ff7073;
}

.brand-name-r {
    color: #ff7073;
}

.brand-name-review {
    color: #28aee1;
    border: 2px solid lavenderblush;
}

nav .nav-wrapper {
    background-color: #666666;
}

.sidenav {
    background-color: lavenderblush;
}

@media screen and (min-width: 600px) {
    .brand-name {
        line-height: 60px;
    }
}

/* flash messages */
.flashes h4 {
    line-height: 2;
    margin-top: 50px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.error-msg {
    background-color: #ff7073;
}

.success-msg {
    background-color: #64ffda;
}

/* register */

.register-card {
    padding: 10px;
}

/* game/home page */

.game-img {
    width: 100%;
    filter: opacity(0.25);
    height: 200px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    
}

.card-content {
    min-height: 150px;
}

.card .card-content .card-title {
    background-color: black;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    color: lavenderblush;
}

.collapsible {
    border: none;
}
.collapsible-header {
    background-color: rgb(84 110 122);
    border-bottom: none;
}
.collapsible-body {
    border: none;
    padding-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
}

.review-btn, .buy-btn {
  box-shadow: 0 2px 0;
  padding: 0.5em 0.5em;
  text-decoration: none;
  border-radius: 10px;
  height: 35px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
}

.review-btn {
    background-color: #28aee1;
    margin-right: 10px;
    border: none;
    bottom: -12px;
}
.review-btn:hover {
    cursor: pointer;
    background-color: #15536b;
}

.buy-btn {
    background-color: #ff7073;
    left: 50%;
    top: -8px;
}
.buy-btn:hover {
    cursor: pointer;
    background-color: #5a292a;
}

.review-txt {
    width: 100%;
    min-height: 50px;
    height: fit-content;
    background-color: lavenderblush;
    padding: 1px 10px 1px 10px;
    border: 1px solid #2f3437;
    border-radius: 4px;
}

.review-body {
    padding-top: 0;
}

.hidden-input {
    display: none;
}

select {
    display: block;
    margin-bottom: 40px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: rgb(214, 214, 214);
    margin-right: 0;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
    color: white;
}

.rating-card-info {
    position: absolute;
    right: 20px;
    background-color: #ff7073;
    height: 40px;
    width: 40px;
    font-size: 27px;
    border-radius: 19px;
    text-align: center;
}

.user-card-info {
    position: absolute;
    top: 10px;
    transform: translate(-50%, -50%);
    left: 50%;
    text-align: center;
}

.review-arrow, .review-dropdwn {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
}
.review-arrow {
    bottom: -11.5px;
}
.review-dropdwn {
    bottom: -8px
}

.edit-card {
    height: fit-content;
}

.edit-btns {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 0;
}

.btn-small {
    width: 66px;
    margin: 3px;
    padding: 0;
    font-size: 12px;
}

.btn-small i {
    font-size: 12px;
}


@media screen and (min-width: 1219px) {
    .game-img {
        height: 164px;
    }
}

.search-bar {
    background-color: #2f3437;
}